Source: ros-indigo-tork-moveit-tutorial
Section: misc
Priority: extra
Maintainer: TORK <dev@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-tork-moveit-tutorial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-gazebo-ros, ros-indigo-moveit-commander, ros-indigo-moveit-ros-move-group, ros-indigo-moveit-ros-planning, ros-indigo-moveit-ros-planning-interface, ros-indigo-moveit-ros-visualization, ros-indigo-moveit-simple-controller-manager
Description: The tork_moveit_tutorial package
